<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>signup</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <script type="javascript" differ>
     
        var close = document.getElementsByClassName("alert-close");
        var i;
      
        close.onclick = function(){
  
          // Get the parent of <span class="closebtn"> (<div class="alert">)
          var div = this.parentElement;
  
          // Set the opacity of div to 0 (transparent)
          div.style.opacity = "0";
          div.style.display="block";
          // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
          setTimeout(function(){ div.style.display = "none"; }, 600);
        }
  
     </script>
</head>
<body class="img2">
<div class="signin" id="signin">
   <div class="container">
      <div class="message1">
            <% if(messages.success_msg) { %>
                <p><%= messages.success_msg %></p>
                <% } %>
      </div>
      <div class="signin-content">
         <div class="signin-form">
             <h2 class="form-title">Sign In</h2>
             <form method="POST" class="align register-form" id="login-form" action="/users/login">
                 <div class="form-group align">
                     <label for="username"><i class=" zmdi-account "></i></label>
                     <input type="text" name="username" id="username" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group align">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group form-button align">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Login">
                    </div>
                    <div class="form-group align">
                        <a href="#" class="signup-image-link " onclick="location.href='/users/register';">Create an account</a>
                    </div>
            </form>
            
         </div>
        <div class="alert warning">
            <span class='alert-close' onclick="this.parentElement.style.display='none';">&times;</span>
            <ul>
                <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
                <%= error.message %><br>
                <% }) %> <% } %>
            </ul>
            <ul>
                <% if (messages.error) { %>
                    <li><%= messages.error %></li>
                    <% } %>
            </ul>
        </div>
        
        </div>
      </div>
   </div>
</div>

</body>
</html>
