*{
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    /*font-family: Poppins;*/
}

.main{
    padding: 50px 0;
 }

.img1{
   
    background-image: url(/img/register.jpg);
    background-repeat: no-repeat;
}

.img2{
    background-image: url(/img/login.jpg);
    background-repeat: no-repeat;
}


.container{
    width: 900px;
    margin: 0 auto;
    box-shadow: 0 15px 16.83px o.17px rgba(0, 0, 0, .05);
    border-radius: 20px; 
}

div{
    display: block;
}

.signup{
    height:500px;
    width: 700px;
    margin-left:20px;
   
   
}

.signin{
   
    
    height: 550px;
    width: 700px;
    margin-left:300px;
    
    margin-top: 100px;
   
}


.signup-content{
    
    padding: 75px 0;
}

.signup-form,  .signin-form{
    width: 50%;
    overflow: hidden;
}

.signup-form{
    
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 200px;
    padding-left: 34px;
    
}

.signin-form
{
    margin-left: 450px;
}

.form-title {
    margin-bottom: 33px;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #f1b607;
    /* font-family: Poppins; */
    font-size: 36px;
}

.register-form{
    width: 100%;
    
}

.align{
    right: 0%;
}

.form-group{
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

 label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
} 

input {
    outline: none;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: "Poppins", sans-serif;
  
    box-sizing: border-box;
    box-shadow : 5px 2px;
    opacity: 100%;

  }




.form-submit {
    display: inline-block;
    background: #eff0f1;
    color: #0d0b0b;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    
}
.signin-image-link{
    font-size: 14px;
    color: #222;
    display: block;
}

.form-container {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container h2 {
    text-align: center;
    color: #333;
}



.form-button :hover{
    background-color: #000;
    color: #f1b607;
}

input{
    outline: none;
}

@media screen and (max-width: 120px) {
    .container{
        width: calc(100% - 30px);
        max-width: 100%;
    }
    
}
@media screen and (max-width: 768px){
    .signup-content, .signin-content {
        flex-direction: column;      
        justify-content: center;
        
    }
}


@media screen and (max-width: 768px)
{ 
    .signup-form, .signin-form {
        width: auto;
    }
}

@media screen and (max-width: 768px)
{
    .signup-form {
        margin-left: 0;
        margin-right: 0;
       padding-left: 0;
       padding: 0 30px;
    }
}

@media screen and (max-width: 768px)
{
    .form-title {
        text-align: center;
    }
}

.alert{
    font-family: -apple-system,BlinkMacSystemFont,'Roboto','Segoe UI','Oxygen-Sans','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
    min-height: 38px;
    padding: 12px 15px 15px;
    margin: 5px auto;
    border-radius: 4px;
    border-left: 4px solid;
    opacity:1;
    transition: opacity 0.6s;
    max-width:90%;
    display : none;
 
}
.warning {
    background: rgba(244, 215, 201, .37);
    color: #d13429;
    border-color: #b32920;
   
}
/*
.Sell_Product_Head{
    color: #f1b607;
    display: block;
    margin-left: 550px;
    margin-top: 5px;
    padding: 5px;
}

.Sell_Product_Form{
    width: 50%;
    margin: 0 25% 0 25% ;
    padding: 20px; 
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center; 
    
}


.Sell_Product_Item{
    padding: 10px;
    margin-bottom: 15px;
}

.Sell_Product_Item label{
    color: #333;
    font-weight:bolder;
    padding: 10px 0 10px 0;
}

.Sell_Product_Item input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#productCategory{
    width:80% ;
    height: 25px;
}

.Sell_Product_Item button{
    width: 100%;
    margin: 10px;
    background-color:#fff;
    color:#333;
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
}

.Sell_Product_Item button:hover{
    background-color: #333;
    color: #f1b607;
    cursor: pointer;
}
    


*/